# Ignore virtual environment
venv/

# Ignore environment variables
.env/

# Ignore Logs
logs/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore test coverage and reports
.coverage
htmlcov/
*.pytest_cache/

# Ignore Context for the development AI
CONTEXT.md